.ui.celled.grid > .column:not(.row),
.ui.celled.grid > .row > .column.no-padding {
  padding: 0;
  min-height: 14vh;
}

/* @todo: find a way to solve this more elegant */
.ui.celled.grid > .column:not(.row),
.ui.celled.grid > .row > .column.no-min-height {
  min-height: 5vh;
  font-weight: 700;
  padding: 5px;
}

/* calendar days without month */
.calendar-day.notfirstday {
  width: 30.08px;
  height: 30.08px;
}

.ui.menu .item.no-padding {
  padding: 0 !important;
}

.brand-button-container {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.brand-button {
  background-image: url(/public/brand-button.png);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
