.main-content {
  display: flex;

  min-height: 100vh;

  justify-content: center;
  align-items: center;
}

.pre-main-min-height {
  min-height: calc(10vh - 100px);
  padding-top: 100px;
}

.padding-top {
  padding-top: 25px;
}

.calendar-day {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 0.9em;
  font-weight: 700;
  background: #ababab3b;
  padding: 0.4em;
  text-align: center;
  border-radius: 50%;
}

.ui.visible.left.overlay.sidebar.position-top {
  top: auto;
}

.backend-main-content {
  position: relative;
  left: 100px;
  top: 50px;
}
